.about__main {
    padding: 21.9rem 0 46.8rem 22.6rem;
    color: #ffffff;
    background: linear-gradient(167deg, #09070a 20%, rgba(9, 7, 10, 0.25) 82%), -webkit-image-set( url("../assets/hike.jpg") 1x, url("../assets/hike@2x.jpg") 2x);
    background-image: linear-gradient(167deg, #09070a 20%, rgba(9, 7, 10, 0.25) 82%) , url("../assets/hike.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__main-heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3.1rem;
}

.about__main-text {
    width: 50%;
    font-size: 2rem;
    opacity: 0.7;
}

.about__info {
    padding: 8.4rem 22.6rem 0 22.6rem;
    color: #131415;
}

.about__info__mission-box {
    display: flex;
    width: 100%;
    margin-bottom: 8.2rem;
    padding-top: 8rem;
}

.about__info__mission {
    width: 70%;
}

.about__info__mission-heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 6.9rem;
}

.about__info__mission-text {
    opacity: 0.7;
    font-size: 2rem;
    margin-bottom: 3.5rem;
}

.about__info__mission-author {
    font-size: 2rem;
    font-family: Lato, sans-serif;
}

.about__info__mission-quotes {
    width: 13rem;
    height: 100%;
    margin: 5rem 0 0 2rem;
    transform: rotateZ(180deg);
}

.about__info--culture {
    text-align: end;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 6.9rem;
    padding-top: 6rem;
}

.about__info--culture-text {
    text-align: end;
    margin-left: auto;
    font-size: 2rem;
    opacity: 0.7;
    width: 70%;
    margin-bottom: 3.5rem;
}

.about__info__cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 14.2rem 0 10.2rem 0;
    grid-column-gap: 20%;
    width: 80%;
    margin: auto;
}

.about__info__card {
    display: flex;
    flex-direction: column;
}

.about__info__card--header {
    border-radius: 50%;
    align-self: end;
    background-color: #F7F7F7;
    padding: 3rem;
}

.about__info__card--header-img {
    width: 100%;
}

.about__info__card--bold {
    font-size: 2.5rem;
    margin-top: 5.3rem;
}

.about__info__card--text {
    font-size: 1.6rem;
    opacity: 0.7;
    margin-top: 0.9rem;
}

.about__mot {
    color: #131415;
    padding: 6rem 0 16rem 0;
}

.about__mot--heading {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

.about__mot--text {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    opacity: 0.7;
    text-align: center;
    margin: 3rem auto;
    width: 40%;
}

.about__mot__cards-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8.35rem;
    grid-row-gap: 8.05rem;
    margin-top: 10.5rem;
    width: 75%;
    margin: 0 auto
}

.about__mot__card {
    grid-row: auto;
    grid-column: auto;
    border-bottom: 5px solid rgba(21, 21, 21, 0.2);
    cursor: pointer;
}

.about__mot__card:hover {
    border-bottom: 5px solid rgba(38, 62, 217, 1);
}

.about__mot__card:hover .mot__card__pill {
    opacity: 1;
}

.about__join {
    color: #131415;
    padding: 8.2rem 0 14rem 0;
    width: 75%;
    margin: 0 auto;
}

.about__join--heading {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.about__join--text {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    width: 70%;
    opacity: 0.7;
    margin-bottom: 3rem;
}

.about__join--btn {
    background-color: #fff;
    color: #263ed9;
    border: 1px solid #263ed9;
    padding: 2rem 8rem;
    font-size: 2rem;
    font-family: Lato, sans-serif;
    font-weight: bold;
    border-radius: 9px;
    margin-top: 2rem;
    cursor: pointer;
}

.about__join--info {
    font-size: 2.5rem;
    margin: 11.5rem 0 8.1rem 0;
    font-weight: 400;
}

.about__join--box {
    border-bottom: 1px solid rgba(19, 20, 21, 0.4);
    display: flex;
    align-items: center;
    padding: 3.85rem 0;
}

.about__join--box-info-heading {
    font-size: 3.5rem;
    font-weight: 400;
}

.about__join--box-info-text {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    opacity: 0.7;
    font-weight: 400;
    width: 80%;
    margin-top: 2.5rem;
}

.about__join--box__btn-box {
    margin-left: auto;
}

.mot__cards__image {
    max-width: 44rem;
    max-height: 44rem;
}

@media (max-width: 1800px) {
    .mot__cards__image {
        max-width: 40rem;
        max-height: 40rem;
    }
}

@media (max-width: 1700px) {
    .about__main-heading, .about__mot--heading {
        font-size: 4rem;
    }

    .about__main {
        padding: 19.9rem 0 40.8rem 20.6rem;
    }

    .about__info {
        padding: 6.4rem 18.6rem 0 18.6rem;
    }

    .about__info__mission-heading {
        font-size: 4rem;
        margin-bottom: 4.9rem;
    }

    .about__info--culture {
        font-size: 4rem;
        padding-top: 4rem;
        margin-bottom: 4.9rem;
    }

    .about__mot {
        padding: 4rem 0 12rem 0;
    }

    .mot__cards__image {
        max-width: 38rem;
        max-height: 38rem;
    }

    .about__join--heading {
        font-size: 4rem;
        margin-bottom: 4.9rem;
    }

    .about__join--text {
        margin-bottom: 2rem;
    }

    .about__join--box-info-heading {
        font-size: 3rem;
    }
}

@media (max-width: 1600px) {
    .mot__cards__image {
        max-width: 36rem;
        max-height: 36rem;
    }

    .about__join--info {
        font-size: 2.25rem;
        margin: 9.5rem 0 6.1rem 0;
    }
}

@media (max-width: 1500px) {
    .about__main {
        padding: 15.9rem 0 36.8rem 18.6rem;
    }

    .about__main-text {
        width: 60%;
    }

    .about__info {
        padding: 4.4rem 16.6rem 0 16.6rem;
    }

    .about__info__mission-quotes {
        transform: scale(0.9) rotateZ(180deg);
    }

    .about__info__card--header-img {
        transform: scale(0.8)
    }

    .about__info__cards-box {
        padding: 10.2rem 0 8.2rem 0;
        grid-column-gap: 15%;
    }

    .about__info__card--header {
        padding: 2rem;
    }

    .about__mot {
        padding: 4rem 0 10rem 0;
    }

    .mot__cards__image {
        max-width: 34rem;
        max-height: 34rem;
    }

    .about__join {
        padding: 6.2rem 0 10rem 0;
    }
}

@media (max-width: 1300px) {
    .about__main-heading, .about__info__mission-heading, .about__mot--heading {
        font-size: 3.5rem;
    }

    .about__main {
        padding: 13.9rem 0 32.8rem 16.6rem;
    }

    .about__main-text {
        font-size: 1.8rem;
    }

    .about__info__mission-text {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .about__info {
        padding: 3.4rem 12.6rem 0 12.6rem;
    }

    .about__mot--text {
        font-size: 1.8rem;
        margin: 2rem auto;
    }

    .about__mot {
        padding: 3rem 0 8rem 0;
    }

    .about__mot__cards-box {
        width: 80%;
        grid-column-gap: 5.35rem;
    }

    .mot__cards__image {
        max-width: 30rem;
        max-height: 30rem;
    }

    .mot__cards__footer {
        margin-bottom: 3rem;
    }

    .about__join {
        width: 80%;
        padding: 4.2rem 0 8rem 0;
    }

    .about__join--info {
        font-size: 2rem;
        margin: 7.5rem 0 4.1rem 0;
    }

    .about__join--text {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .about__join--btn {
        padding: 1.5rem 5rem;
        font-size: 1.8rem;
    }

    .about__join--box {
        padding: 2.5rem 0;
    }
}

@media (max-width: 1200px) { 
    .about__info__cards-box {
        padding: 8.2rem 0 6.2rem 0;
        grid-column-gap: 10%;
    }

    .about__info__card--header-img {
        transform: scale(0.75)
    }

    .about__info__card--header {
        padding: 1.5rem;
    }
}

@media (max-width: 1100px) {
    .about__main {
        padding: 11.9rem 0 24.8rem 14.6rem;
    }

    .about__info {
        padding: 2.4rem 10.6rem 0 10.6rem;
    }

    .about__info__mission-quotes {
        transform: scale(0.8) rotateZ(180deg);
    }

    .about__mot {
        padding: 2rem 0 6rem 0;
    }

    .about__mot__cards-box {
        grid-column-gap: 3.35rem;
    }

    .about__join {
        padding: 3.2rem 0 6rem 0;
    } 
}