*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* 1 rem is 10px */
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    line-height: 1.52
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}