*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* 1 rem is 10px */
    font-family: Poppins, sans-serif;
    line-height: 1.52;
    scroll-behavior: smooth;
}

.hidden {
    display: none !important;
}

.hideabs {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 25%);
}

.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.hide-2x-l {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    /* z-index: -1; */
}

.hide-2x-r {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(101%);
    /* z-index: -1; */
}

.hide-slideIn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%,0) !important;
}

.hide-slideOut {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%,0) !important;
}

.hide-slideDown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0,-5%);
}

.slideOut {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-201%,0) !important;
}

.block {
    display: block;
}
