*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* 1 rem is 10px */
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    line-height: 1.52;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.hideabs {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 25%);
}