.blogs__nav {
    background-color: #09070a;
    padding: 6.15rem 22.5rem 4.25rem 22.5rem;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    display: flex;
    width: 100%;
}

.blogs__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.blogs__nav__item {
    cursor: pointer;
}

.blogs__nav__item--text {
    opacity: 0.6;
}

.blogs__nav__item--selected .blogs__nav__item--text{
    opacity: 1;
}

.blogs__nav--pill {
    width: 3.1rem;
    height: 0.6rem;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 0.85rem;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-out;
}

.blogs__nav__item--selected .blogs__nav--pill {
    visibility: visible;
    opacity: 1;
}

.blogs__nav__search-label {
    position: relative;
    width: 15%;
    text-align: end;
}

.blogs__nav__search-icon {
    fill: #fff;
    transform: translateY(10%);
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
}

.blogs__nav__search-input {
    background-color: #09070a;
    border: none;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    width: 80%;
    padding: 0.5rem 1.5rem;
}

.content__wrapper {
    position: relative;
}

.blogs__section {
    padding: 8rem 22.5rem;
    position: relative;
}

.blogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12.2rem;
    grid-row-gap: 10.25rem;
    position: relative;
    transition: transform 300ms ease-out;
}

.blog__data {
    position: relative;
}

.blog__article {
    padding: 0 41rem;
    color: #131415;
    margin-top: 15.2rem;
}

.blog__header-heading {
    font-size: 5rem;
    font-weight: bold;
}

.blog__header-wrapper {
    display: flex;
    width: 100%;
    margin: 3.6rem 0 9rem 0;
}

.blog__header-img-wrapper {
    width: 7.5rem;
    height: 7.5rem;
    background-color:rgba(21, 21, 21, 0.2);
    border-radius: 50%;
}

.blog__header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.8rem;
}

.blog__header-creator {
    font-size: 2rem;
}

.blog__header-upload-info {
    font-size: 1.6rem;
    color: rgba(21, 21, 21, 0.7);
    display: flex;
    align-items: baseline;
}

.blog__header-upload-dot {
    font-size: 5rem;
    line-height: 0;
    margin: 0 1.8rem;
}

.blog__options-wrapper {
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.blog__options {
    display: flex;
    align-items: baseline;
    transition: all 300ms ease-in;
}

.blog__options > * {
    margin: 0 1rem;
    fill: #fff;
    stroke:black;
}

.options-slideOut {
    opacity: 0;
    visibility: hidden;
    transform: translateX(20%) !important;
}

.blog__options-like {
    stroke-width: 3px;
}

.blog__options-comment {
    fill: black;
    stroke: none;
}

div.blog__content::after {
    content: '';
    display: block;
    margin: 13rem auto;
    width: 50%;
    border-top: 1px solid rgba(21, 21, 21, 0.3);
}

.blog__para {
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    color: rgba(21, 21, 21, 0.7);
    margin-bottom: 4.2rem;
    font-weight: 300;
}

.blog__quote_wrapper {
    width: 75%;
    margin: 8rem 0 4.2rem auto;
    position: relative;
}

.blog__quote_text {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(21, 21, 21, 0.7);
}

.blog__quote_img {
    position: absolute;
    top: -60%;
    left: -15%;
    height: 100%;
}

.blog__img__box {
    width: 100%;
    height: 45rem;
    text-align: center;
}

.blog__img {
    height: 100%;
    border-radius: 3.5rem;
}

.blog__para__heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 9.6rem 0 6.2rem 0;
}

.blog__footer {
    margin-top: 15rem;
    display: flex;
}

.blog__footer-img-box {
    width: 14rem;
    height: 14rem;
    background-color:rgba(21, 21, 21, 0.2);
    border-radius: 50%;
}

.blog__footer-info {
    margin-left: 3.8rem;
    display: flex;
    flex-direction: column;
}

.blog__footer-creator {
    font-size: 2rem;
}

.blog__footer-creator-info {
    font-size: 1.5rem;
}

.blog__footer-contact-info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.blog__footer-contact-link {
    cursor: pointer;
    color: rgba(21, 21, 21, 0.5);
}

.blog__footer-contact-icon {
    fill: rgba(21, 21, 21, 0.5);
    margin-right: 2.2rem;
}

.blog__footer-contact {
    margin-left: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.blog__footer-contact-label {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    color: rgb(19, 20, 21);
}

.blog__footer-contact-input {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: rgba(19, 20, 21, 0.5);
    padding: 1.3rem 1.7rem;
    border: 1px solid rgba(21, 21, 21, 0.7);
    border-radius: 5px;
}

.blog__tag-wrapper {
    padding: 0 41rem;
    margin-top: 11.3rem;
}

.blog__tag-text {
    font-size: 2rem;
    color: rgba(21, 21, 21, 1);
    margin-bottom: 0.8rem;
}

.blog__tag-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.blog__tag {
    text-transform: uppercase;
    padding: 1.3rem 5.1rem;
    font-family: Lato, sans-serif;
    color: rgba(19, 20, 21, 0.3);
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid rgba(21, 21, 21, 0.5);
    border-radius: 2rem;
    width: 20%;
    margin: 3rem 2rem;
}

.blog__comments-header {
    display: flex;
    margin-top: 17.5rem;
    border-bottom: 1px solid rgba(21, 21, 21, 0.3);
    padding-bottom: 1.55rem;
}

.blog__comments-heading {
    font-size: 2rem;
}

.comment-box__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3.75rem;
}

.comment__user__img {
    width: 6.4rem;
    height: 6.4rem;
    background-color:rgba(21, 21, 21, 0.2);
    border-radius: 50%;
    margin-right: 2.3rem;
}

.comment__input {
    font-family: Lato, sans-serif;
    font-size:1.4rem;
    padding: 1.3rem 2rem 0 2rem;
    border: 1px solid rgba(19, 20, 21, 0.3);
    background-color: #fff;
    border-radius: 5px;
}
